/**
 * 定义常用的颜色
 */
$main-color: #3287f1;
$succ-color: #1ac847;
$warning-color: #f18739;
$error-color: #f00;
$button-color: #ff9036;

$tips-color: #DB1B1B;
$item-color-1: #00a0e4;
$item-color-2: #faa834;
$item-color-3: #de3c4f;
$base-color: #4496f9;